*.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/rmiele/Work/SPADEGAN_for_inversion/training_ckpt/500_500.pth filter=lfs diff=lfs merge=lfs -text
training_ckpt/500_500.pth filter=lfs diff=lfs merge=lfs -text
